.board {
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.store, .store > input {
    height: 120px !important;
    text-align: center;
    width: 100px;
    font-size: 30px !important;
}

.schema-1{
    background: #80700087;
    border-radius: 40px;
}

.schema-2 {
    background-color: #ffffff;
    border-radius: 40px;
}

.table-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    float: none;
}

.mt-50 {
    margin-top: 50px;
}